{% load static map_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Submarine Map</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
</head>
<body>
<div class="card" onclick="void(0)">
    <h1>Submarine Map</h1>
    <div class="card-content">
        <div class="row">
            <div class="iconbox"></div>
            {% for i in lines.1 %}
                <div class="label">{{ forloop.counter }}</div>
            {% endfor %}
        </div>
        {% for line in lines %}
            <div class="row">
                {% spaceless %}
                    {% with forloop.counter0 as y %}
                        <div class="label">{{ forloop.counter }}</div>
                        {% for char in line %}
                            {% tooltip x=forloop.counter0 y=y as tip %}
                            {% if tip %}
                                <div class="iconbox tooltip" onclick="void(0)">
                                    {% include "mapper/include/icon.html" with icon=char %}
                                    <span class="tooltiptext">
                                        {{ tip }}
                                    </span>
                                </div>
                            {% else %}
                                <div class="iconbox">
                                    {% include "mapper/include/icon.html" with icon=char %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endspaceless %}
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>